<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Playground - About</title>
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <script defer src="/public/assets/script.js"></script>
</head>
<body>

    <nav class="navbar">
        <a href="/"><div class="mobile-logo">
            <img src="/public/images/logo.png" alt="pixel playground logo">
        </div></a>

		<div class="menu-toggle" id="menuToggle">
			<div class="bar"></div>
			<div class="bar" id="middle-bar"></div>
			<div class="bar"></div>
		</div>
		<ul class="menu" id="menu">
            <li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>

    <header>
        <nav class="desktop-nav">
            <div class="logo">
                <a href="/"><img src="/public/images/logo.png" alt="pixel playground logo"></a>
            </div>

            <ul class="desktop-nav-ul">
                <a href="/"><li>Home</li></a>
                <a href="/gallery"><li>Gallery</li></a>
                <a href="#"><li class="current-page">About</li></a>
                <a href="/contact"><li>Contact</li></a>
            </ul>

            <div class="tutorial-button">
                <a href="/tutorials"><button>Tutorials</button></a>
            </div>
        </nav>
    </header>

    <main> 
        <section class="banner" id="about-banner">
            <h1>ABOUT</h1>
        </section>

        <section class="one">

            <div class="details1">
                <h2>Pixel <span class="gold-text">Playground</span></h2>
                <p>
                    At The Pixel Playground, we have a collection of state-of-the-art equipment, and our website is your key to unlocking their full potential. Whether you're a novice or a seasoned professional, our tutorials are designed to make learning a breeze. 
Our virtual lab is more than just a space filled with modern equipment; it's a dynamic learning environment. 
                </p>

                <p>
                    Dive into tutorials that demystify each tool, providing step-by-step guidance to elevate your skills. This is where innovation gets simple, and your creativity takes center stage.

                </p>

            </div>

            <div class="img2">
                <img src="./public/images/gallery_pic1.jpg" alt="">

            </div>

        </section>

        <!-- <section class="teacherImage">

            <img src="/public/images/6.JPG" alt="">
        </section> -->

        <section class="lastDetails bottom-info" id="about-bottom-info">
            <div class="contact">
                <h3>CONTACT <span class="gold-text">US</span></h3>
                <p class="pixel-text">Pixel Playground, Room 0.48</p>

                <div class="contact-details-container">
                    <div class="contact-details">
                        <img src="/public/images/location.png">
                        <span class="contact-details-text">Fontys R10, Rachelsmolen 1, 5612 MA Eindhoven, The Netherlands</span>
                    </div>

                    <div class="contact-details">
                        <img src="/public/images/email.png">
                        <span class="contact-details-text">ouremail@fhict.nl</span>
                    </div>

                    <div class="contact-details">
                        <img src="/public/images/smartphone.png">
                        <span class="contact-details-text">+31 234 5678</span>
                    </div>
                </div>
            </div>

            <div class="schoolImage">
                <img src="./public/images/fontys.jpg" alt="image of school">
            </div>
        </section>

    </main>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <footer>

        <div class="footer-image">
            <img src="/public/images/logo.png" alt="">
        </div>

        <div class="footer-address">
            <p>Fontys R10, Rachelsmolen 1, 5612 MA Eindhoven</p>
        </div>

    </footer>
    
</body>
</html>