<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Playground - Tutuorials</title>
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <script defer src="/public/assets/script.js"></script>
</head>
<body>

    <nav class="navbar">
        <a href="/"><div class="mobile-logo">
            <img src="/public/images/logo.png" alt="pixel playground logo">
        </div></a>

		<div class="menu-toggle" id="menuToggle">
			<div class="bar"></div>
			<div class="bar" id="middle-bar"></div>
			<div class="bar"></div>
		</div>
		<ul class="menu" id="menu">
            <li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>

    <header>
        <nav class="desktop-nav">
            <div class="logo">
                <a href="/"><img src="/public/images/logo.png" alt="pixel playground logo"></a>
            </div>

            <ul class="desktop-nav-ul">
                <a href="/"><li>Home</li></a>
                <a href="/gallery"><li>Gallery</li></a>
                <a href="/about"><li>About</li></a>
                <a href="/contact"><li>Contact</li></a>
            </ul>

            <div class="tutorial-button">
                <a href="#"><button>Tutorials</button></a>
            </div>
        </nav>
    </header>

    <main> 
        <section class="banner" id="tutorial-banner">
            <h1>TUTORIALS</h1>
        </section>


        <div class="portfolio-container">
            <div class="portfolio-grid">

                <a href="/unreal">
                    <div class="portfolio-grid-img">
                        <img src="/public/images/tutorials_unreal.jpg" alt="">

                        <div class="project-title">Unreal Engine</div>
                    </div>
                </a>
            </div>

            <div class="portfolio-grid">

                <a href="/lighting">
                    <div class="portfolio-grid-img">
                        <img src="/public/images/lighting_tutorials.jpg" alt="">

                        <div class="project-title">Lighting</div>
                    </div>
                </a>
            </div>


            <div class="portfolio-grid">
                <a href="/virtual">
                    <div class="portfolio-grid-img">
                        <img src="/public/images/14.jpg" alt="">

                        <div class="project-title">Virtual Production</div>
                    </div>
                </a>
            </div>

            <div class="portfolio-grid">
                <a href="/greenscreen">
                    <div class="portfolio-grid-img">
                        <img src="/public/images/greenscreen.JPG" alt="">

                        <div class="project-title">Green Screen</div>
                    </div>
                </a>
            </div>

            <div class="portfolio-grid">
                <a href="/teleprompter">
                    <div class="portfolio-grid-img">
                        <img src="/public/images/tp.jpeg" alt="">

                        <div class="project-title">Teleprompter</div>
                    </div>
                </a>
            </div>

        </div>

    </main>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <footer>

        <div class="footer-image">
            <img src="/public/images/logo.png" alt="">
        </div>

        <div class="footer-address">
            <p>Fontys R10, Rachelsmolen 1, 5612 MA Eindhoven</p>
        </div>

    </footer>
    
</body>
</html>